<p>Bonjour,</p>

<p>Vous avez commencé à remplir votre candidature pour participer à <strong>Math Sprint</strong> MDM 2026.</p>

<p>Sauf erreur de notre part, votre candidature n'est <strong>pas encore complète</strong>. 
  La date limite pour candidater à Math Sprint est le <strong>5 mars</strong>. Nous vous invitons donc à compléter votre candidature; nous avons hâte de vous retrouver.

<p>Ceci est un e-mail généré automatiquement. Merci de ne pas répondre à ce
  message.</p>