<p>Bonjour,</p>

<p>Vous avez commencé à remplir votre candidature pour participer à
  <strong>Math Sprint – MDM 2026</strong>.</p>

<p>
  Sauf erreur de notre part, soit votre formulaire de candidature n’a
  <strong>pas encore été entièrement complété</strong>, soit vous l’avez
  complété mais
  <strong>n’avez pas encore soumis votre devoir maison Math Sprint.</strong><br
  />
  Pour que votre candidature puisse être examinée, ces deux étapes doivent être
  finalisées.
</p>

<p>
  Nous vous rappelons que la date limite pour compléter la candidature et
  soumettre le devoir maison est fixée au
  <strong>11 mars à 23h59</strong>. Nous vous invitons donc à vérifier votre
  dossier et à finaliser les éléments manquants dans les meilleurs délais afin
  que votre candidature soit prise en compte.
</p>

<p>Cordialement,<br />
  L'équipe MDM.
</p>

<p>Ceci est un e-mail généré automatiquement. Merci de ne pas répondre à ce
  message.</p>