<p>Bonjour,</p>

<p>Vous avez commencé à remplir votre candidature pour participer à
  <strong>Math Sprint – MDM 2026</strong>.</p>

<p>Sauf erreur de notre part, votre candidature est
  <strong>incomplète</strong>
  à ce jour.<br />
  La date limite de candidature est fixée au
  <strong>5 mars</strong>. Nous vous invitons à finaliser votre inscription dans
  les meilleurs délais afin que votre candidature puisse être examinée.</p>

<p>Nous serions ravis de vous compter parmi les participants.</p>

<p>Ceci est un e-mail généré automatiquement. Merci de ne pas répondre à ce
  message.</p>